# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Cache
.cache
.turbo

# Logs
*.log

# Environment files
.env
.env.*

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea

# Git
.git

